.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    .drawerCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;

        position: absolute;
        width: 680px;
        height: 450px;
        left: 31%;
        top: 20%;
        border-radius: 45px;
        background: #fff;
        color: #000;

        padding: 40px 30px;

        .closeBtn {
            position: absolute;
            left: 90%;
            top: 5%;
            cursor: pointer;
            border-radius: 10px;
            transition: 0.1s;
            &:hover {
                box-shadow: #696969 0px 0px 10px;
            }
            &:active {
                transform: scale(95%);
            }
        }

        .drawerCardLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .drawerCardLeft_Img {
            }
            .drawerCardLeft_Size {
                ul {
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    gap: 20px;
                }
            }
            .drawerCardLeft_Action {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 50px;
                .addToCartBtn {
                    cursor: pointer;
                    border-radius: 10px;
                    box-shadow: #000000 0px 0px 3px;
                    transition: 0.1s;
                    &:hover {
                        box-shadow: #696969 0px 0px 10px;
                    }
                    &:active {
                        transform: scale(95%);
                    }
                }
                .addToFavBtn {
                    cursor: pointer;
                    border-radius: 10px;
                    box-shadow: #000000 0px 0px 3px;
                    transition: 0.1s;
                    &:hover {
                        box-shadow: #696969 0px 0px 10px;
                    }
                    &:active {
                        transform: scale(95%);
                    }
                }
            }
        }
        .drawerCardRight {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .drawerCardRight_Name {
                width: 350px;
                font-size: 28px;
            }
            .drawerCardRight_Price {
            }
            .drawerCardRight_Info {
                .drawerCardRight_Info_Text {
                    margin-top: 10px;
                    max-height: 150px;
                    overflow: auto;
                }
            }
        }
    }
}

.overlayVisible {
    visibility: visible;
    opacity: 1;
}
