header {
    border-bottom: 1px solid #eaeaea;
    h3 {
        margin: 0;
    }
    ul li span {
        transition: .1s;
        &:hover {
            color: red;
        }
    }
    
    // ul li {
    //     transition: .1s;
    //     &:active {
    //         transform: translate(1px,1px);
    //     }
    // }

}